.ChechoutPage-container {
    width: 100vw;
    background-color: #f8f9fa;
    padding: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.checkout-items {
    margin-bottom: 20px;
}

.checkout-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.item-image {
    width: 80px;
    height: 80px;
    margin-right: 20px;
    border-radius: 5px;
    object-fit: cover;
}

.item-info {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}

.item-name {
    font-size: 16px;
    font-weight: bold;
}

.item-price {
    font-size: 14px;
    color: #666;
}

.checkout-summary {
    font-size: 18px;
    font-weight: bold;
    text-align: right;
    margin-top: 10px;
}

.payment-method, .user-info {
    margin-top: 20px;
    padding: 10px 0;
    border-top: 1px solid #ddd;
}

.pay-button {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.pay-button:hover {
    background-color: #218838;
}
